.App {
  text-align: center;
}
img{
  margin-top:10%;
  margin-left: 46%;
  border: 1px solid #ebeb9f;
  border-radius: 50%;
  box-shadow: 5px 4px 1 0
}
h2{
  text-align: center;
  color: rgba(14, 14, 202, 0.959)
}

p {
  text-align: center;
}